body {
	background-color: #4292FA;
	font-kerning: normal;
}

h4 {
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-kerning: normal;
	font-family: serif;
	background: linear-gradient(#4292FA, #E3F2FD, #4292FA);
	margin-bottom: 20px;
	padding: 12px;
	border: 2px solid #4292FA;
	border-radius: 8px;
	letter-spacing: 8px;
}

h3 {
	color: #3090F6;
}

#cure13 {
	font-size: 65px;
	letter-spacing: 10px;
	margin: 20px;
}

h2 {
	color: #4292FA;
}

p {
	background-color: #E1F5FE;
	padding: 10px;
	border: 1px solid #E1F5FE;
	border-radius: 9px;
}

p2 {
	font-size: 18px;
	padding: 16px;
	margin: 9px;
}

.intro {
	background: linear-gradient(white, #E1F5FE, #4292FA);
	color: grey;
	padding: 19px;
	margin-bottom: 13px;
	border: 8px solid white;
	border-radius: 9px;
}

b {
	color:  #4292FA;
}

a {
	color:  #81D4FA;
}
	
img {
	margin-bottom: 20px;
}

svg {
	border-radius: 9px;
	margin: 0px;
}

h2 button {
	letter-spacing: 7px;
	font-size: 20px;
	background-color: white;
}

.donot {
	border: 9px solid white;
    border-radius: 9px 9px 0px 0px;
	background-color: #E1F5FE;
    border-radius: 12px 12px 0px 0px;
    padding: 10px;
    margin: 5px;
}

.clicks {
  font-size: 25px;
  letter-spacing: 9px;
  word-spacing: 5px;
  font-size: bold;
  font-family: sans-serif, serif;
  border: 20%;
  position: relative;
  -webkit-animation: mymove 4s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 4s infinite;
  animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {left: 0%;}
  to {left: 5%;}
}

@keyframes mymove {
  from {left: 0%;}
  to {left: 5%;}
}

#cure12 {
	margin-bottom: 25px;
	background: linear-gradient(to right, white,  #E1F5FE, white);
	border-radius: 5px;
}

.text-left {
	margin: 12px;
}

.sea1 {
	color: white;
	font-size: 22px;
	background-color: #03A9F4;
	border: 9px solid: #03A9F4;
	border-radius: 9px;
	padding: 12px;
	margin: 9px;
}

.sea2 {
	color: white;
	font-size: 22px;
	background-color: #29B6F6;
	border: 9px solid #29B6F6;
	border-radius: 9px;
	padding: 12px;
	margin: 9px;
}


.sea3 {
	color: white;
	font-size: 22px;
	background-color: #4FC3F7;
	border: 9px solid #4FC3F7;
	border-radius: 9px;
	padding: 12px;
	margin: 9px;
}


.sea4 {
	color: #4292FA;
	font-size: 22px;
	background-color: #81D4FA;
	border: 9px solid #81D4FA;
	border-radius: 9px;
	padding: 12px;
	margin: 9px;
}

.sea5 {
	color: #4292FA;
	font-size: 22px;
	background-color: #B3E5FC;
	border: 9px solid #B3E5FC;
	border-radius: 9px;
	padding: 12px;
	margin: 9px;
}

.sea6 {
	color: #4292FA;
	font-size: 22px;
	background-color: #E1F5FE;
	border: 9px solid #E1F5FE;
	border-radius: 9px;
	padding: 12px;
	margin: 9px;
}

.img01 {
	width: 40px;
	height: 40px;
}

.nothin b {
	letter-spacing: 4px;
}

.nothin {
	background: linear-gradient(to right, #73C2D6, #E1F5FE, #73C2D6);
}




	